<div class="orders">
  <div class="title-container">
    <h2 class="orders-h2">Estudiantes</h2>
  </div>
  <!-- <div class="header">.</div> -->
  <table>
    <thead>
      <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Estatus</th>
          <th></th>
          <th class="add" routerLink="/addStudent" >Agregar</th>

        </tr>
      </thead>
      <tbody>
          <tr>
              <td>Foldable mini drone</td>
              <td>85631</td>
              <td>due</td>
              <td>Pending</td>
              <td class="primary"> Corregir </td>
              <td class="warning"> Eliminar </td>
          </tr>
          <tr>
            <td>Foldable mini drone</td>
            <td>85631</td>
            <td>due</td>
            <td>Pending</td>
            <td class="primary"> Corregir </td>
            <td class="warning"> Eliminar </td>
        </tr>
        <tr>
          <td>Foldable mini drone</td>
          <td>85631</td>
          <td>due</td>
          <td>Pending</td>
          <td class="primary"> Corregir </td>
          <td class="warning"> Eliminar </td>
      </tr>
      <tr>
        <td>Foldable mini drone</td>
        <td>85631</td>
        <td>due</td>
        <td>Pending</td>
        <td class="primary"> Corregir </td>
        <td class="warning"> Eliminar </td>
    </tr>
    <tr>
      <td>Foldable mini drone</td>
      <td>85631</td>
      <td>due</td>
      <td>Pending</td>
      <td class="primary"> Corregir </td>
      <td class="warning"> Eliminar </td>
  </tr>
  <tr>
    <td>Foldable mini drone</td>
    <td>85631</td>
    <td>due</td>
    <td>Pending</td>
    <td class="primary"> Corregir </td>
    <td class="warning"> Eliminar </td>
</tr>
<tr>
  <td>Foldable mini drone</td>
  <td>85631</td>
  <td>due</td>
  <td>Pending</td>
  <td class="primary"> Corregir </td>
  <td class="warning"> Eliminar </td>
</tr>

      </tbody>
  </table>
  <a href="#">Show all </a>
</div>
