<div class="orders">
  <div class="title-container">
    <h2 class="orders-h2">Estudiantes</h2>
  </div>
  <!-- <div class="header">.</div> -->
  <table>
    <thead>
      <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Estatus</th>
          <th></th>
          <th class="add" routerLink="/addStudent" >Agregar</th>

        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let student of students; let i = index">
              <td>{{student.name}}</td>
              <td>{{student.lastName}}</td>
              <td>{{student.age}}</td>
              <td>Pending</td>
              <td class="primary"> Corregir </td>
              <td class="warning" (click)="onDeleteStudents(student.studentId)"> Eliminar </td>
          </tr>
      </tbody>
  </table>
  <a href="#">Show all </a>
</div>
