<div class="main">
  <div class="orders">
    <div class="title-container">
      <h2 class="orders-h2">Estudiantes</h2>
    </div>
  <!-- <div class="header">.</div> -->
  <table>
    <thead>
      <tr>
          <th>Nombre</th>
          <th>Apellido</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>Foldable mini drone</td>
              <td>85631</td>
            </tr>
            <tr>
              <td>Foldable mini drone</td>
                <td>85631</td>
              </tr>
              <tr>
                <td>Foldable mini drone</td>
                  <td>85631</td>
                </tr>
                <tr>
                  <td>Foldable mini drone</td>
                    <td>85631</td>
                  </tr>
                  <tr>
                    <td>Foldable mini drone</td>
                      <td>85631</td>
                    </tr>
                    <tr>
                      <td>Foldable mini drone</td>
                        <td>85631</td>
                      </tr>
                      <tr>
                        <td>Foldable mini drone</td>
                          <td>85631</td>
                        </tr>
                        <tr>
                          <td>Foldable mini drone</td>
                          <td>85631</td>
                          </tr>
                          <tr>
                            <td>Foldable mini drone</td>
                            <td>85631</td>
                          </tr>
                            <tr>
                              <td>Foldable mini drone</td>
                                <td>85631</td>
                              </tr>

      </tbody>
    </table>
    <a href="#">Show all</a>
  </div>
  <div class="right">

    <div class="my-profile">
      <div class="profile-header">
        <h1 class="profile-header-h1">Mi Perfil</h1>
        <i class="bx bxs-edit profile-header-icon"></i>
      </div>
      <div class="profile-content">
        <img
          class="profile-content-img"
          src="../../../../assets/califications-photos/Hands - Graduate.png"
          alt=""
        />
        <div class="profile-labels">
          <h1 class="profile-labels-h1">DR. Pedro | Garcia</h1>
          <h2 class="profile-labels-h2">Estudiante</h2>
        </div>
      </div>

    </div>
  <div class="calification-container">
    <div class="title-container">
      <h2 class="orders-h2">Calificaciones</h2>
    </div>
  <!-- <div class="header">.</div> -->
  <table class="calification-table">
    <thead>
      <tr>
          <th>Materias</th>
          <th>Calificación</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>Lengua Española</td>
              <td><input type="text"></td>
            </tr>
      </tbody>
      <tbody>
        <tr>
          <td>Matematicas</td>
            <td><input type="text"></td>
          </tr>
    </tbody>
    <tbody>
      <tr>
        <td>Naturales</td>
          <td><input type="text"></td>
        </tr>
  </tbody>
  <tbody>
    <tr>
      <td>Sociales</td>
        <td><input type="text"></td>
      </tr>
</tbody>
  </table>
</div>
</div>

</div>
