<div class="container">
  <h2>Agrega un Estudiante</h2>
  <h1>El futuro es de todos!</h1>

  <form action="" id="join-us">
    <div class="fields">
      <span>
       <input placeholder="Nombre" type="text" />
    </span>
     <span>
       <input placeholder="Apellido" type="password" />
    </span>
    <br />
    <span>
      <input placeholder="Edad" type="password" />
   </span>
    </div>
    <div class="submit">
      <button class="submit-button">Agregar</button>
    </div>
  </form>
</div>
