

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 30px auto;
  justify-content: space-between;
  background-color: var(--first-color-contrast);
  padding: 7rem 0 ;
  border-radius: 40px;
}

.container h1{
  color:var(--first-color-secondary);
  font-weight:100;
  font-size:2em;
  margin-bottom:10px;
}

.container h2{
  color:var(--first-color);
  text-align:center;
  font-size:1.2em;
}

form{
  margin-top:25px;
}
.fields{
  width: 100%;

}


.container span{
    margin-bottom:22px;
    display:inline-block;
    width: 250px;
}

.container span:last-child{
   margin-bottom:-11px;
}

input{
  border:none;
  outline:none;
  height:34px;
  border-radius:22px;
  width:220px;
  padding:0 18px;
  box-shadow: 0 0 0.2rem var(--ion-color-light-contrast);
}
.submit{
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}
.submit-button{
  background-color: var(--first-color);
  color: var(--first-color-contrast);
  margin: auto;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
}
